.username {
    font-size: 25px;
    padding: 10px;
}

.controlpanel {
    background-color: #ddd;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.submitbutton {
    font-size: 25px;
    color: #070;
}

.blobdiv {
    background-color: #ffd;
    padding: 5px;
    color: #007;
    font-family: monospace;
    overflow: scroll;
    min-height: 400px;
    max-height: 400px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 10px;
}
